.skill-rating {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .circle {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: #ccc;

    &.colorful {
      background-color: pink;
    }
  }
}
