.main-container {
  height: 100vh;
  background: linear-gradient(to right, white 30%, pink 30%);

  .header {
    display: flex;
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    > .texts {
      padding: 32px;
      background-color: white;
      border: 1px solid black;

      > .title {
        margin: 0px;
        text-transform: uppercase;
      }

      > .description {
        text-transform: uppercase;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 0px;
      }
    }
  }

  .body {
    padding-left: 32px;
    display: flex;
    gap: 5%;

    > .left-side {
      > .details,
      .link,
      .languages,
      .skills {
        display: flex;
        flex-direction: column;

        > .title {
          width: 90%;
          text-transform: uppercase;
          border-bottom: 1px solid black;
        }

        > .address,
        .email,
        .links,
        .box {
          gap: 4px;
          display: flex;
          flex-direction: column;

          > .title {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 8px;
          }
        }

        > .email {
          margin-top: 16px;
        }

        > .box {
          .skill-rating {
            margin: 0;
            padding: 0;
            list-style-type: none;

            .circle {
              width: 16px;
              height: 16px;
              margin-right: 5px;
              border-radius: 50%;
              display: inline-block;
              background-color: #ccc;

              &.colorful {
                background-color: pink;
              }
            }
          }

          &.margin {
            margin-top: 8px;
          }
        }
      }
    }

    > .right-side {
      width: 65%;

      > .section {
        > .title {
          text-transform: uppercase;
          border-bottom: 1px solid black;
        }

        > .description {
          font-weight: 400;
        }

        .job {
          .first-line {
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
          }

          .description {
            margin-top: 12px;
            font-weight: 400;
          }
        }

        .schools {
          .title {
            margin-bottom: 0px;
          }

          > .description {
            margin-top: 8px;
            font-weight: 400;
          }
        }

        .courses {
          .course {
            > .title {
              margin: 0px;
              margin-top: 4px;
            }

            > .description {
              margin-top: 4px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
